{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block body %}

  <div id="ww">
	    <div class="container">  
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>Thomas Caron, Développeur Web</h1>				
				</div>
			</div>
	    </div> 
	</div>

	 <div class="container pt">
		<div class="row mt centered">
			<h2>Qui suis-je ?</h2>
			<div class="col-lg-8 col-lg-offset-2 centered">
			<p>Jeune développeur actuellement en première année de master ingénierie du logiciel libre en alternance, je me passionne pour les technologies web.</p>
			</div>
		</div>
	</div>

{% endblock %}
